.App {
  text-align: center;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Buttons_Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

p{
  background-color:#FAEDF0;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;   
  padding: 20px;
  width: 250px;
}